.main-content-wrapper {
  flex: 1;
  display: flex;
  overflow: hidden;
  background-color: #f5f8fd;
  border-radius: 20px;
}

.dashboard-content {
  display: flex;
  flex: 1;
  padding: 1.25rem;
  overflow: auto;
  gap: 1.25rem;
}

.dashboard-left {
  flex: 2.8;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dashboard-right {
  flex: 2.2;
/*   display: flex;
  flex-direction: column;
  gap: 1.25rem; */
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
}

.anatomy-container {
  display: flex;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(105, 121, 248, 0.05);
  overflow: hidden;
  height: 700px;
}

.activity-container {
  margin-top: 1rem;
}

.calendar-container, .schedule-container {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 4px 12px rgba(105, 121, 248, 0.05);
  padding: 0.5rem;
}

.user-profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
}


.user-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #00c2a8;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.1rem;
  position: relative;
}

.add-button {
  width: 36px;
  height: 36px;
  border-radius: 10px;
  background-color: #3a4276;
  color: white;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.25rem;
}

.activity-container {
  margin-top: 1rem;
}

.calendar-container, .schedule-container {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
}
